.alignmentr {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.title {

    justify-content: center;
    display: flex;
    padding: 10px 0;
    text-transform: uppercase;

}